
.board-frame {
	position: relative;
    top: 50px;
	left: 0;
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.board-outer {
	width: 300px;
	height: 250px;
	margin: 5px;
	padding: 10px;
	padding-bottom: 28px;
	border-radius: 8px;
	display: block;
	z-index: 1;
}

.board-thumbnail {
	width: 300px;
	height: 200px;
	border: solid 1px rgb(238, 238, 238);
	background: rgb(255, 245, 246);
	overflow: hidden;
	margin: auto;
	border-radius: 8px;
	object-fit: cover;
}

.board-outer:hover {
	background-color: rgb(233, 233, 233);
}

.board-link a {
	text-decoration: none;
}



.board-info {
	display: flex;
	position: relative;
	top: 0;
	padding: 10px;
}

.board-left {
	display: block;
}

.board-title {
	color: rgb(82, 82, 82);
	font-size: 20px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pin-num {
	color: rgb(82, 82, 82);
	font-size: 16px;
	font-weight: 500;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-top: 5px;
}

.board-right {
	position: absolute;
    top: 10px;
    right: 5px;
}

.board-delete {
	display: none;
}

.board-outer:hover .board-delete {
	display: block;
	position: absolute;
	right: 10px;
	background: image-url("pen.png");
	background-size: contain;
	height: 28px;
	width: 28px;
	border: none;
	z-index: 500;
	cursor: pointer;
}

.empty-board {
	position: relative;
	top: 40px;
    left: 70px;
    width: 400px;
	height: auto;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	.empty-text {
		padding: 40px 0;
		font-size: 16px;
		font-weight: 600;
		color: rgb(83, 83, 83);
	}

	.upload-pin {
		width: fit-content;
		border: none;
		font-size: 16px;
		color: #575757;
		padding: 12px 15px;
		font-weight: bold;
		background-color: #ececec;
		border-radius: 20px;
		cursor: pointer;

		&:hover {
			background-color: red;
			color: white;
		}

		&:active {
			box-shadow: 0 0 0 4px rgba(0, 132, 255, .5);
		}
	}
}





// .delete-popup {
// 	display: block;
// 	position: relative;
// 	top: 0;
// 	left: 0;
// 	width: 20px;
// 	height: 20px;
// 	background-color: green;
// }