html body main input a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.vsc-initialized {
	margin: 0;
	padding: 0;
}

div input p text {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-page {
	margin: 65px 30px 30px;
}

a {
	text-decoration: none;
}

