.pin-frame {
	width: 100%;
	display: flex;
	margin: 0 auto;
	box-sizing: border-box;
}

.grid {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	width: 520px;
	height: 3000px;
	
}

.pin-pic {
	display: flex;
	max-width: 50px;
	max-height: 80px;
	min-height: 30px;
	min-width: 60px;
}

.pin-pic:hover {

}

.pin-info h3 h4 h5 {
	// display: none;
	text-decoration: none;
}

.createPin {
	float: left;
	display: block;
	background: image-url("plus.png");
	background-size: contain;
	height: 30px;
	width: 30px;
	cursor: pointer;
}