// canvas
.pin-frame {
	display: block;
	margin: 0 auto;
	margin-top: 56px;
	box-sizing: border-box;
	padding: 40px;
}

.grid {
	display: flex;
	margin-left: auto;
	padding-top: 5px;
	height: 3000px;
}

.col {
	display: flex;
	flex-direction: column;
	width: auto;
	margin: 5px;
}

.pin-pic {
	display: flex;
	position: relative;
	height: auto;
	min-height: 50px;
	border-radius: 7px;
	margin: 5px;
	padding: 5px;
	padding-bottom: 8px;
}

.pin-pic:hover {
	background-color: rgb(228, 228, 228);
	border-radius: 7px;
}

.pin-pic img {
	width: 230px;
	height: auto;
	min-height: 150px;
	margin: 10px;
	border-radius: 7px;
}

.shade {
	display: none;
}

// .pin-pic:hover .shade {
// 	display: flex;
// 	background: gainsboro; // grey
// 	opacity: 0.5;
// 	z-index: 2;
// }

.pin-pic:hover .pin-info {
	display: flex;
}

.pin-info {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 230px;
	height: auto;
	min-height: 150px;
	margin: 10px;
	border-radius: 7px;
	z-index: 1;
	// border: 1px solid rgb(170, 170, 170);
}

.pin-option {
	display: flex;
	position: absolute;
	top: 30px;
	left: 30px;
	width: 200px;
	height: 30px;
	margin: 10px;
	border-radius: 7px;
}

.white {
	background: white;
	width: 100px;
	height: 30px;
	// radius overflow, NOT hidden
	overflow: hidden;
}

.white p {
	text-align: center;
	text-decoration: none;
	color: grey;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.red {
	background: red;
	width: 60px;
	height: 30px;
	overflow: hidden;
	text-align: center;
}

.red p {
	text-align: center;
	text-decoration: none;
	// justify-content: space-between;
	// align-items: center;
	color: white;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pin-link {
	position: absolute;
	left: 40px;
	top: 160px;
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: black;
	opacity: 0.65;
	border-radius: 7px;
	padding: 5px;
	z-index: 1;
}
