.form-canvas {
	background-color: rgb(236, 236, 236);
	position: absolute;
	top: 65px;
	left: 0;
	right: 0;
	bottom: -150px;
}

.form-session {
	display: block;
	background-color: white;
	position: relative;
	top: 60px;
	// bottom: -100px;
	margin: auto;
	padding: 50px;
	width: 780px;
	height: 560px;
	border-radius: 10px;
}

.upper-form {
	display: flex;
	position: absolute;
	// top: 70px;
	right: 50px;
	width: 200px;
	height: 45px;
	border-radius: 10px;
	background-color: aquamarine;
	overflow: hidden;
}

.selector {
	border: none;
	background-color: rgb(236, 236, 236);
	color: black;
	width: 130px;
}

.save-button {
	border: none;
	background-color: red;
	color: white;
	width: 70px;
}

.lower-form {
	position: absolute;
	top: 100px;
	left: 50px;
	right: 50px;
	bottom: 50px;
	background-color: beige;
	display: flex;
}

.left-form {
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	width: 300px;
	display: block;
	// padding: 
}

.preview {
	position: relative;
	left: 0;
	top: 0;
	max-width: 300px;
	height: auto;
	border: 1px solid rgb(170, 170, 170);
}

.lower-form img {
	position: relative;
	left: 0;
	top: 0;
	max-width: 300px;
	height: auto;
	border: 1px solid rgb(170, 170, 170);
}

.right-form {
	display: block;
}

.link-input {
	
}
